*, *::before, *::after {
    box-sizing: inherit;
}

#menu {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;
    padding: 0.75rem;
    gap: 0.5rem;
}

#profile {
    border: 2px solid green;
    max-width: 720px;
    margin: 0 auto;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

#news {
    border: 2px solid purple;
    max-width: 720px;
    margin: 0 auto;
    padding: 1rem;
}